h1{
  color:#00f550;
  text-decoration:underline; 
  letter-spacing:8px; 
  background-color: green;
}
p{
	 line-height:40px; 
	 font-weight: 900;
	 border-style:solid;
	 border-width:20px;
	 text-decoration:line-through; 
	 border-radius:20px;
}

.red{
	color: #013456
}